@model IEnumerable<nuevoProyecto.Models.Global>

@{
    ViewBag.Title = "DataGrid";
}

<h2>DataGrid View</h2>

<table class="table">
    <tr>
        @foreach (var item in Model)
        {
            <th>
                @if (item.Int1 != "")
                {
                    @Html.DisplayNameFor(model => model.Int1)
                }
            </th>
            <th>
                @if (item.Int2 != "")
                {
                    @Html.DisplayNameFor(model => model.Int2)
                }
            </th>
            <th>
                @if (item.Int3 != "")
                {
                    @Html.DisplayNameFor(model => model.Int3)
                }
            </th>
            <th>
                @if (item.VarChar1 != "")
                {
                    @Html.DisplayNameFor(model => model.VarChar1)
                }
            </th>
            <th>
                @if (item.VarChar1 != "")
                {
                    @Html.DisplayNameFor(model => model.VarChar1)
                }
            </th>
            <th>
                @if (item.VarChar1 != "")
                {
                    @Html.DisplayNameFor(model => model.VarChar1)
                }
            </th>
            <th>
                @if (item.DT1 != "")
                {
                    @Html.DisplayNameFor(model => model.DT1)
                }
            </th>
            <th>
                @if (item.DT1 != "")
                {
                    @Html.DisplayNameFor(model => model.DT1)
                }
            </th>
            <th>
                @if (item.DT1 != "")
                {
                    @Html.DisplayNameFor(model => model.DT1)
                }
            </th>
            break;
        }

    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Int1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Int2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Int3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VarChar1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VarChar2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VarChar3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DT1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DT2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DT3)
        </td>
        <td>
            @*@Html.ActionLink("VerTabla", "DataGrid", new { llave = item.Tabla }) |*@
      
            @Html.ActionLink("Exportar a CSV", "ExportarCSV", new { Tabla = item.Tabla }) |
            @Html.ActionLink("Exportar a XLS", "ExportarExcel", new { Tabla = item.Tabla }) 
        </td>
    </tr>
    }
   
</table>
