@model IEnumerable<nuevoProyecto.Models.Global>

@{
    ViewBag.Title = "VerSelect";
}

<h2>VerSelect</h2>
<table class="table">
    <tr>
        @foreach (var item in Model)
        {
        <th>
            @if (item.Int1 != "")
            {
                @Html.DisplayNameFor(model => model.Int1)
            }
        </th>
        <th>
            @if (item.Int2 != "")
            {
                @Html.DisplayNameFor(model => model.Int2)
            }
        </th>
        <th>
            @if (item.Int3 != "")
            {
                @Html.DisplayNameFor(model => model.Int3)
            }
        </th>
        <th>
            @if (item.VarChar1 != "")
            {
                @Html.DisplayNameFor(model => model.VarChar1)
            }
        </th>
        <th>
            @if (item.VarChar2!= "")
            {
                @Html.DisplayNameFor(model => model.VarChar2)
            }
        </th>
        <th>
            @if (item.VarChar3!= "")
            {
                @Html.DisplayNameFor(model => model.VarChar3)
            }
        </th>
            <th>
                @if (item.DT1 != "")
                {
                    @Html.DisplayNameFor(model => model.DT1)
                }
            </th>
            <th>
                @if (item.DT2 != "")
                {
                    @Html.DisplayNameFor(model => model.DT2)
                }
            </th>
            <th>
                @if (item.DT3 != "")
                {
                    @Html.DisplayNameFor(model => model.DT3)
                }
            </th>
            break;
        }

    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @if (item.Int1 != "")
            {
                @Html.DisplayFor(modelItem => item.Int1)
            }
        </td>
        <td>
            @if (item.Int2 != "")
            {
                @Html.DisplayFor(modelItem => item.Int2)
            }
        </td>
        <td>
            @if (item.Int3 != "")
            {
                @Html.DisplayFor(modelItem => item.Int3)
            }
        </td>
        <td>
            @if (item.VarChar1 != "")
            {
                @Html.DisplayFor(modelItem => item.VarChar1)
            }
        </td>
        <td>
            @if (item.VarChar2 != "")
            {
                @Html.DisplayFor(modelItem => item.VarChar2)
            }
        </td>
        <td>
            @if (item.VarChar3 !=  "")
            {
                @Html.DisplayFor(modelItem => item.VarChar3)
            }
        </td>
        <td>
            @if (item.DT1 != "")
            {
                @Html.DisplayFor(modelItem => item.DT1)
            }
        </td>
        <td>
            @if (item.DT2 != "")
            {
                @Html.DisplayFor(modelItem => item.DT2)
            }
        </td>
        <td>
            @if (item.DT3 != "")
            {
                @Html.DisplayFor(modelItem => item.DT3)
            }
        </td>
        <td>
            @Html.ActionLink("ver Capos Correspondientes", "", new { id=item.Id }) |
      
            @Html.ActionLink("Exportar a CSV", "ExportarCSV", new { Tabla = item.Tabla }) |
            @Html.ActionLink("Exportar a XLS", "ExportarExcel", new { Tabla = item.Tabla })
        </td>
    </tr>
}

</table>
